.font-playfair {
  font-family: Playfair Display;
}

.font-robot {
  font-family: Roboto;
}

.bg1 {
  background: url("https://konstruk.rstheme.com/assets/about-bg-CuSu5v4z.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg2 {
  background: url("https://konstruk.rstheme.com/assets/counter-bg-DLogBSyy.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg3 {
  background: url("https://konstruk.rstheme.com/assets/contact-bg-D6w_m3TR.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-hover-effect {
  padding: 6px 0 4px;
}

.custom-hover-effect:hover {
  padding-left: 5px;
  color: #ffd930;
}

.prefix {
  font-size: 42px;
  line-height: 60px;
  font-weight: 700;
  color: #ffda31;
  font-family: "Roboto", Sans-serif;
}
.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
}
.contact-right-img {
  background-image: url("https://konstruk.rstheme.com/assets/con-right-Bu3ROEF_.png");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon-image {
  background: #ffda31;
  padding: 15px 20px;
}

.services-item {
  background-color: rgba(255, 255, 255, 0.9);
  transition: background-color 0.5s ease;
  position: relative;
  overflow: hidden;
}

.services-item:hover {
  background-color: rgba(255, 255, 255, 0.7); /* Transparent effect */
}

.services-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  /* padding: 15px 30px; */
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0; /* Stay in its default position */
  transition: transform 0.5s ease; /* Smooth slide effect */
  transform: translateX(0); /* Default state */
}

.services-item:hover .services-content {
  transform: translateX(100%); /* Slide to the right on hover */
}
.services-titles {
  padding-left: 20px;
  padding-top: 8px;
}

.services-image img {
  width: 100%;
  height: auto;
  max-width: unset;
}
.icon-top {
  background: #ffda31;
  display: inline-block;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 50%;
}

.services-item .service-description {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  padding: 20px;
  background-color: #0000009c;
  opacity: 0; /* Fully transparent */
  visibility: hidden; /* Makes it inaccessible */
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.rs-breadcrumbs.img1 {
  background: url(https://konstruk.rstheme.com/assets/inr-1-DwcAxtYG.jpg);
}

.rs-breadcrumbs {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: top left !important;
}

.rs-breadcrumbs .breadcrumbs-inner {
  padding: 30px 10px;
  text-align: center;
}
.services-item:hover .service-description {
  opacity: 1; /* Fully visible */
  visibility: visible; /* Makes it accessible */
}

.breadcrumbs-inner .page-title {
  position: relative;
  z-index: 1;
  font-size: 48px;
  line-height: 1.3;
  font-weight: 700;
  color: #fff;
  padding-top: 20px;
  margin-bottom: 18px;
}
.breadcrumbs-inner .page-title:after {
  content: "";
  height: 5px;
  position: absolute;
  top: -5px;
  margin: 0 auto;
  left: 0;
  right: 0;
  transition: all 0.3s ease;
  z-index: -1;
  background: #ffda31;
  width: 65px;
}

.breadcrumbs-inner .sub-text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 32px;
  display: inline-block;
}

.rs-breadcrumbs.img1 {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: top left !important;
}
.breadcrumbs-inner .breadcrumbs-area {
  background: #ffffff1a;
  padding: 13px 30px;
  max-width: 300px;
  margin: 0 auto;
}

.breadcrumbs-inner .breadcrumbs-area li {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
}
.breadcrumbs-inner .breadcrumbs-area li a:before {
  content: "";
  position: absolute;
  background: #ffda31;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  right: 10px;
  top: 7px;
}

.breadcrumbs-inner .breadcrumbs-area li a {
  position: relative;
  padding-right: 30px;
  font-size: 14px;
  color: #fff;
}

.breadcrumbs-inner .breadcrumbs-area li a:hover {
  color: #ffda31;
}

.sec-title .title.title7 {
  font-size: 50px;
  line-height: 70px;
  color: #421;
  font-family: Playfair Display;
}
.background_color_image {
  width: 50%;
  height: 50%;
  background: #ffda31;
  position: absolute;
  bottom: -20px;
  right: -20px;
  z-index: 0;
  border-radius: 0px 0px 22px 0px; /* Correct syntax for border-radius */
}
.image-about {
  z-index: 9;
}
