.font-playfair {
  font-family: Playfair Display;
}

.bg1 {
  background: url("https://konstruk.rstheme.com/assets/about-bg-CuSu5v4z.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg2 {
  background: url("https://konstruk.rstheme.com/assets/counter-bg-DLogBSyy.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}