.font-playfair {
  font-family: Playfair Display;
}

.bg1 {
  background: url("https://konstruk.rstheme.com/assets/about-bg-CuSu5v4z.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg2 {
  background: url("https://konstruk.rstheme.com/assets/counter-bg-DLogBSyy.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg3 {
  background: url('https://konstruk.rstheme.com/assets/contact-bg-D6w_m3TR.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-hover-effect {
  padding: 6px 0 4px;
}

.custom-hover-effect:hover {
  padding-left: 5px;
  color: #ffd930;
}

.prefix {
  font-size: 42px;
  line-height: 60px;
  font-weight: 700;
  color: #ffda31;
  font-family: "Roboto", Sans-serif;
}
.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
}
.contact-right-img {
  background-image: url('https://konstruk.rstheme.com/assets/con-right-Bu3ROEF_.png');
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
}