/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  height: 100%;
}

body {
  font-family: Playfair Display;
  height: 100vh !important;
  margin: 0;
  /* overflow: hidden; */
}